<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'players.css' %}" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/Flip.min.js"></script>
</head>
<body>
   {% include 'header.html' %}
   <div class="carousel">
        <div class="carousel-track">
            <img src="{% static 'nblogo.png' %}" alt="Slide 1" class="carousel-item">
            <img src="{% static 'i.jpeg' %}" alt="Slide 2" class="carousel-item">
<!--            <img src="https://via.placeholder.com/800x400?text=Slide+3" alt="Slide 3" class="carousel-item">-->
        </div>
        <div class="carousel-controls">
            <button class="control prev">❮</button>
            <button class="control next">❯</button>
        </div>
    </div>

    <h1>Players</h1>
    <div id="player-container" class="player-container">
        {% for player in players %}
            <div class="player-tile">
                <h2 class="title">{{ player.first_name }} {{ player.last_name }}</h2>
                <div class="info">
                    <div class="info-item">
                        <span class="otitle">Position</span>
                        <span class="text">{{player.position}}</span>
                    </div>
                    <div class="info-item">
                        <span class="otitle">Jersey</span>
                        <span class="text">{{player.jersey_number}}</span>
                    </div>
                    <div class="info-item">
                        <span class="otitle">Team</span>
                        <span class="text">{{player.team_city}}</span>
                    </div>
                </div>
                <form class="team-form" action="/save_player" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="player_id" value="{{ player.id }}">
                    <input type="hidden" name="player_first_name" value="{{ player.first_name }}">
                    <input type="hidden" name="player_last_name" value="{{ player.last_name }}">
                    <input type="hidden" name="player_position" value="{{ player.position }}">
                    <input type="hidden" name="player_height" value="{{ player.height }}">
                    <input type="hidden" name="player_weight" value="{{ player.weight }}">
                    <input type="hidden" name="player_jersey" value="{{ player.jersey_number }}">
                    <input type="hidden" name="player_college" value="{{ player.college }}">
                    <input type="hidden" name="player_country" value="{{ player.country }}">
                    <input type="hidden" name="player_draft_year" value="{{ player.draft_year }}">
                    <input type="hidden" name="player_draft_round" value="{{ player.draft_round }}">
                    <input type="hidden" name="player_draft_number" value="{{ player.draft_number }}">
                    <input type="hidden" name="player_team_id" value="{{ player.team_id }}">
                    <button type="submit" class="save-button">Track Player</button>
                </form>
            </div>
        {% endfor %}
        {% load static %}
        <script src="{% static 'js/popup.js' %}"></script>
        <script src="{% static 'js/carousel.js' %}"></script>
    </div>
    <div class="popup" id="popup">
        <p id="popup-message"></p>
    </div>
</body>
</html>
